<ion-content>
 <ion-tabs>
   <ion-tab-bar slot="bottom">
     <ion-tab-button tab="dashboard">
       <ion-label>Dashboard</ion-label>
       <ion-icon name="home-outline"></ion-icon>
     </ion-tab-button>

     <ion-tab-button tab="accounts">
      <ion-label>Accounts</ion-label>
      <ion-icon name="card-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-label>Payments</ion-label>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="check">
      <ion-label>Check</ion-label>
      <ion-icon name="card-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="cards">
      <ion-label>Cards</ion-label>
      <ion-icon name="card-outline"></ion-icon>
    </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>
</ion-content>
